%h1 Your Virtues

.explanation
  These are your virtues. You can track them on the
  = link_to "results", results_path
  page. You can edit your virtues from this page; however, it's best not to do that too often.
.list
  %ul
    - @user_virtues.each do |virtue|
      %li
        = virtue.name
        = ": "
        = virtue.description
        (
        = link_to '<b>remove</b>', user_virtue_path(virtue.id), :method => :delete
        = link_to '<b>edit</b>', edit_user_virtue_path(virtue.id)
        )
.spacer{:style => "height: 20px"}
= link_to "Ben Franklin's virtues", :controller => :virtues, :action => :index
= link_to "Add your own virtue", :conroller => :user_virtues, :action => :new
