//<link rel="icon" 
//      type="image/png" 
//      href="/somewhere/myicon.png" />

%head{:profile => "http://www.w3.org/2005/10/profile"}
  %link{:rel => "icon", :type => "image/png", :href => "images/franklin_favicon.png"}
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %title Franklin's Method
%body
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'application'

  - if session[:user_id]
    .header{:style => 'height: 150'}
      .franklin{:style => 'float:left; display: inline-block'}
        = link_to image_tag('franklin.jpg', :size => "116x148"), results_path
      .welcome{:style => 'float:left; display: inline-block; margin-left: 20px'}
        %h1 Welcome to Benjamin Franklin's Method (beta)
        = link_to "Read more about Franklin's Method", :controller => 'information', :action => 'index'
        %h2{:style => "margin-top: 20px"}
          You are logged in as #{current_user.email} 
          - if virtue_of_the_week
            and this week you're working on
            = link_to virtue_of_the_week.name, results_path
        .quicknav
          = link_to "Track your results", :controller => 'results', :action => 'index'
          = link_to "Modify your virtues", :controller => 'user_virtues', :action => 'index'
          = link_to "Logout", :controller => 'session', :action => 'logout'

  - else
    .header{:style => 'height: 150'}
      .franklin{:style => 'float:left; display: inline-block'}
        = link_to image_tag('franklin.jpg', :size => "116x148"), "/login"
      .welcome{:style => 'float:left; display: inline-block; margin-left: 20px'}
        %h1 Welcome to Benjamin Franklin's Method (beta)
        = link_to "read more about Franklin's Method", :controller => 'information', :action => 'index'
        %h2{:style => "margin-top: 20px"}
        .quicknav
          = link_to "Login", :controller => "session", :action => "login"
          = link_to "Create new user", :controller => :users, :action => "new"
        
  .clearfix{:style => 'clear:both'}

  .everything
    = yield

  .footer
    Created by Jen Bisignani
